<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head'); %>
</head>

<body>

<header>
	<%- include('../partials/header'); %>
</header>

<script>
	function redirectToCityFilter() {
		window.location = window.location + "?filterby=city&city=" + document.getElementById("filterCityName").value;
	}

	function redirectToDateFilter() {
		window.location = window.location + "?filterby=date" + 
		"&start=" + document.getElementById("filterStartDate").value.replaceAll("-", "%2F") +
		"&end=" + document.getElementById("filterEndDate").value.replaceAll("-", "%2F");
	}
</script>

<main class="container">
	<h1>Events</h1>
	<% if (locals.error) { %>
		<div class="alert alert-danger" role="alert">
			<%= error %>
		</div>
	<% } %>
	<% if (locals.user) { %>
		<a class="btn btn-primary mb-4" href="/events/create">Create Event</a>
	<% } %>

	<% if (locals.user && !locals.filtering) { %>
		<a class="btn btn-primary mb-4" href="?filterby=owned">My Events</a>
		
		<form class="form-inline">
			<div class="form-group mx-sm-3 mb-2">
			  <label for="filterCity" class="sr-only">City</label>
			  <input type="text" class="form-control" id="filterCityName" placeholder="City">
			</div>
			<a href="#" onclick="redirectToCityFilter();return false;" class="btn btn-secondary mb-2">Filter By City</a>
		</form>
		<form class="form-inline">
			<div class="form-group mx-sm-3 mb-2">
			<label for="filterCity" class="sr-only">Date</label>
			<input type="date" class="form-control" id="filterStartDate" placeholder="Start Date">
			<input type="date" class="form-control" id="filterEndDate" placeholder="End Date">
		  </div>
		  <a href="#" class="btn btn-secondary mb-2" onclick="redirectToDateFilter();return false;">Filter By Date</a>
		</form>

	<% } %>

	<% if (locals.user && locals.filtering) { %>
		<a class="btn btn-danger mb-4" href="/events">Clear Filters</a>
	<% } %>

	
	<% if (locals.events) { %>
		<% events.forEach(event => { %>
				<div class="card mb-4">
					<div class="card-body">
						<a href="/events/<%= event.id %>">
							<h5 class="card-title"><%= event.name %></h5>
						</a>
						<h6 class="card-subtitle mb-2 text-muted">
							<%= event.start.toLocaleDateString() %> - <%= event.end.toLocaleDateString() %>
						</h6>
						<p class="card-text"><strong>Description: </strong><%= event.description %></p>
						<p class="card-text"><strong>Address: </strong><%= event.address %>, <%= event.city %>, <%= event.state %> <%= event.zipCode %></p>
						<% if (event.address2) { %>
							<p class="card-text"><strong>Additional: </strong><%= event.address2 %></p>
						<% } %>
						<form action="/events/<%=event.id%>/register" method="post">
							<% if (locals.user) { %>
								<% if (!event.registered) { %>
									<button type="submit" class="btn btn-primary">Register for Event</button>
								<% } else { %>
									<button disabled class="btn btn-primary">Registered</button>
								<% } %>
							<% } %>
							<a href="<%= event.url %>" class="btn btn-secondary" target="_blank" rel="noopener noreferrer">Go to Website</a>
						</form>
					</div>
				</div>
		<% }) %>
	<% } %>

</main>

<footer>
	<%- include('../partials/footer'); %>
</footer>

</body>

</html>