<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head'); %>
</head>

<body>

<header>
	<%- include('../partials/header'); %>
</header>

<script>
	function redirectToFilter() {
		const base = window.location.origin + "/events";
		const filterBy = "filterby=city";
		const city = "city=" + document.getElementById("filterCityName").value;
		const start = "start=" + document.getElementById("filterStartDate").value.replaceAll("-", "%2F") ;
		const end = "end=" + document.getElementById("filterEndDate").value.replaceAll("-", "%2F");
		window.location = base + "?" + filterBy + "&" + city + "&" + start + "&" + end;
	}
</script>

<main class="container">
	<h1>Events</h1>
	<% if (locals.error) { %>
		<div class="alert alert-danger" role="alert">
			<%= error %>
		</div>
	<% } %>
	<% if (locals.user) { %>
		<div class="mb-2">
			<a class="btn btn-primary mb-2" href="/events/create">Create Event</a>
			<a class="btn btn-secondary mb-2" href="?filterby=owned">My Events</a>
		</div>
	<% } %>

	<% if (locals.user) { %>
		<div class="mb-2">
			<form class="form-inline" onsubmit="redirectToFilter();return false;">
				<input type="text" class="form-control mb-2 mr-2" id="filterCityName" placeholder="City"/>
				<input type="date" class="form-control mb-2 mr-2" id="filterStartDate" placeholder="Start Date"/>
				<input type="date" class="form-control mb-2 mr-2" id="filterEndDate" placeholder="End Date"/>
				<button class="btn btn-secondary mb-2" type="submit">Filter</button>
			</form>
		</div>
	<% } %>

	<% if (locals.user && locals.filtering) { %>
		<a class="btn btn-danger mb-4" href="/events">Clear Filters</a>
	<% } %>

	<% if (locals.events) { %>
		<% events.forEach(event => { %>
			<div class="card mb-4">
				<div class="card-body">
					<a href="/events/<%= event.id %>">
						<h5 class="card-title"><%= event.name %></h5>
					</a>
					<h6 class="card-subtitle mb-2 text-muted">
						<%= event.start.toLocaleDateString() %> - <%= event.end.toLocaleDateString() %>
					</h6>
					<p class="card-text"><strong>Description: </strong><%= event.description %></p>
					<p class="card-text"><strong>Address: </strong><%= event.address %>, <%= event.city %>, <%= event.state %> <%= event.zipCode %></p>
					<% if (event.address2) { %>
						<p class="card-text"><strong>Additional: </strong><%= event.address2 %></p>
					<% } %>
					<form action="/events/<%= event.id %>/register" method="post">
						<% if (locals.user) { %>
							<% if (!event.registered) { %>
								<button type="submit" class="btn btn-primary">Register for Event</button>
							<% } else { %>
								<button disabled class="btn btn-primary">Registered</button>
							<% } %>
						<% } %>
						<a href="<%= event.url %>" class="btn btn-secondary" target="_blank" rel="noopener noreferrer">Go to
							Website</a>
					</form>
				</div>
			</div>
		<% }) %>
	<% } %>

</main>

<footer>
	<%- include('../partials/footer'); %>
</footer>

</body>

</html>
