<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head'); %>
</head>

<body>

<header>
	<%- include('../partials/header'); %>
</header>

<main class="container">
	<div class="jumbotron">
		<h1>Welcome!</h1>
		<% if (locals.user) { %>
			<p><strong>Logged in As: </strong><%= user.username %></p>
			<p><strong>User Type: </strong><%= (['Participant', 'Admin', 'Super Admin'][user.rank - 1]) %></p>

			<% if (user.rank === 2) { %>
				<a href="/events/create" class="btn btn-primary">Create Event</a>
			<% } %>
		<% } %>
	</div>
</main>

<footer>
	<%- include('../partials/footer'); %>
</footer>

</body>

</html>
