<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head'); %>
</head>

<body>

<header>
	<%- include('../partials/header'); %>
</header>

<script>
	function redirectToUserFilter() {
		const base = window.location.origin + "/superadmin";
		const filterBy = "filterby=user";
		const user = "user=" + document.getElementById("filterUser").value;
		window.location = base + "?" + filterBy + "&" + user;
	}
</script>

<main class="container">
	<h1>Superadmin Interface</h1>

	<% if (locals.users && locals.filtering) { %>
		<a class="btn btn-danger mb-4" href="/superadmin">Clear Filters</a>
	<% } %>
	
	<% if (locals.users && !locals.filtering) { %>
		<div>
			<form class="form-inline" onsubmit="redirectToUserFilter();return false;">
				<div class="form-group mx-sm-3 mb-2">
					<label for="filterUser" class="sr-only">User</label>
					<input type="text" class="form-control" id="filterUser" placeholder="User Name">
				</div>
				<input class="btn btn-secondary mb-2" type="submit" value="Filter by User">
			</form>
		</div>
	<% } %>

	<h3 class="mb-3">Users:</h3>
	<% if (locals.users) { %>
		<% users.forEach(user => { %>
			<div class="card mb-4">
				<div class="card-body">
					<h5>
						<span class="text-secondary">Username:</span> <%= user.username %>
						<% if (user.rank === 2) { %>
							<span class="badge badge-warning">Superadmin</span>
						<% } %>
					</h5>
					<div>
						<strong>Created Events: </strong>
						<% if (user.created.length === 0) { %><span class="text-secondary">None</span>
						<% } %>
						<% user.created.forEach((event, i) => { %>
							<a href="/events/<%= event.id %>"><%= event.name %></a><% if (i !== user.created.length - 1) { %>, <% } %>
						<% }) %>
					</div>
					<strong>Participated Events: </strong>
					<% if (user.participating.length === 0) { %><span class="text-secondary">None</span>
					<% } %>
					<% user.participating.forEach((event, i) => { %>
						<a href="/events/<%= event.id %>"><%= event.name %></a><% if (i !== user.participating.length - 1) { %>
							, <% } %>
					<% }) %>
				</div>
			</div>
		<% }) %>
	<% } %>
</main>

<footer>
	<%- include('../partials/footer'); %>
</footer>

</body>

</html>
